<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JsonToModelFileDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>531C15C41F71F60C0068B478</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>531C15DA1F71F60C0068B478</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>531C15E51F71F60C0068B478</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
